kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: postgresql-17-pvc
  namespace: {{ .Release.Namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: ebs-sc
