app:
  name: grafana

image:
  repository: ghcr.io/gettuned/docker/grafana
  tag: main
  pullPolicy: Always
  secret: github-registry-secret

readinessProbe:
  initialDelaySeconds: 45
  periodSeconds: 15
  timeoutSeconds: 40
  failureThreshold: 30

livenessProbe:
  initialDelaySeconds: 45
  periodSeconds: 15
  timeoutSeconds: 40
  failureThreshold: 30

resources:
  limits:
    cpu: 200m
    memory: 512Mi
    ephemeral-storage: 2Gi
  requests:
    cpu: 20m
    memory: 128Mi
    ephemeral-storage: 1Gi

ingress:
  sslRedirect: false
  host: dev.analytics.gettuned.co
