apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.app.name | default .Chart.Name }}
  labels:
    app.kubernetes.io/name: {{ .Values.app.name | default .Chart.Name }}
    helm.sh/chart: {{ include "mcp-service.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  type: NodePort
  ports:
  - name: http
    port: 80
    targetPort: 3000
    protocol: TCP
  selector:
    app.kubernetes.io/name: {{ .Values.app.name | default .Chart.Name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
